One of the most important libraries in data science is the pandas libraries. Created around 2008 by Wes McKinney at AQR Capital, open sourced in 2009 and since 2009 is sponsored by [NumFOCUS](https://numfocus.org/community/mission). The first thing to do is to import the library.

In [ ]:
import pandas as pd

We are going to look at **Dataframes** - one of the most important *enhancement* to a standard list in Python and is superuseful for tabular data. To start with, let us create a dictionary that represents a people and their ages. Note that the value of every *key* is a list! Also note that the size of the list for each key *has* to be the same!

In [ ]:
data = { "Name":["Ram","Geeta","Shyam","Ajit","Dia","Tia"],"Age":[13,12,14,13,12,13]}

In [ ]:
data

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

How can I get *specific* rows? We have a way to *locate* the rows; Say we want  the third row having the data for Shyam

In [ ]:
df.loc[2]

What if I want to locate multiple rows? Call loc function with a list of rows!

In [ ]:
df.loc[[1,3]]

What if I want to provide it with the name of the index?

In [ ]:
df = pd.DataFrame(data,index=["Ram","Geeta","Shyam","Ajit","Dia","Tia"])

In [ ]:
df

Now access any element via the named index

In [ ]:
df.loc["Tia"]

How an I access columnar data? Say I want to access all the age?

In [ ]:
df["Age"]

What if I want to access top 2 or bottom 3 rows?

In [ ]:
df.head(2)

In [ ]:
df.tail(3)

Information about the dataframe itself...

In [ ]:
df.info()

What If I want to add a new row to the dataframe?

In [ ]:
df.loc["Vikas"]=["Vikas",13]

In [ ]:
df

Removing a row from dataframe....

In [ ]:
df.drop("Dia")

In [ ]:
df

Note that while we just dropped a row, df has *not* changed! Why? All DF operations are usuallu *immutable* and result in a **new** dataframe! If we have to drop from an *existing* dataframe, we need to use the ***inplace*** directive!

In [ ]:
df.drop("Dia",inplace=True)

In [ ]:
df

How can I combine two dataframes?

In [ ]:
data_2 = {"Name":["Pappu","Kallu"],"Age":[21,22]}

In [ ]:
df2 = pd.DataFrame(data_2)

In [ ]:
df2

In [ ]:
pd.concat([df,df2])