In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [13]:
original_df = pd.read_csv('https://tinyurl.com/jppdatapd')

In [41]:
df = original_df.copy()

In [45]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Duration, Pulse, Maxpulse, Calories]
Index: []

In [25]:
df.dropna(inplace=True)

In [39]:
df['Calories'].fillna(0,inplace=True)

Replacing the Null values with mathematical function output

In [49]:
df = original_df.copy()
x = df['Calories'].mean()
df['Calories'].fillna(x, inplace=True)

In [51]:
df = original_df.copy()
x = df['Calories'].median()
df['Calories'].fillna(x, inplace=True)

In [53]:
df = original_df.copy()
x = df['Calories'].mode()[0]
df['Calories'].fillna(x, inplace=True)

In [57]:
print(df[df.duplicated()])

     Duration  Pulse  Maxpulse  Calories
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
40         45     90       112     180.1
71         60    109       153     387.6
113        45    100       120     225.3
155        60    111       151     368.5

In [59]:
df.count()

Duration    169
Pulse       169
Maxpulse    169
Calories    169
dtype: int64

In [61]:
df.shape[0]

169